<div class="step"
     data-x="2000"
     data-y="700"
     data-rotate="0">
  <h2>#3 Понятный импорт</h2>
  <p>Вместо тысячи слов</p>
  <pre class="js"><code><include file="1-require.js"/></code></pre>
</div>
<div class="step dim"
     data-x="2000"
     data-y="700"
     data-z="-1000"
     data-rotate="0">
  <p>Это масштабируется нормально</p>
  <pre class="js"><code><include file="2-require.js"/></code></pre>
</div>
<div class="step dim"
     data-x="2000"
     data-y="700"
     data-z="-2000"
     data-rotate="0">
  <p>А это?</p>
  <pre class="js"><code><include file="3-amd.js"/></code></pre>
</div>
