<div class="step"
     data-x="1000"
     data-y="1400"
     data-rotate="0">
  <h2>#5 Инструментарий</h2>
  <div class="middle">
    <img src="/img/gulp.png" height="240"/>
    <img src="/img/grunt.png" height="240"/>
    <img src="/img/express.png" width="320"/>
  </div>
</div>
<div class="step dim"
     data-x="1000"
     data-y="1400"
     data-z="-1000"
     data-rotate="0">
  <h2>Бэкэнд не Node.js? — Не проблема.</h2>
  <p>В продакшн:</p>
  <pre class="bash"><code>browserify main.js -o build.js</code></pre>
  <p>В разработке:</p>
  <pre class="bash"><code>watchify main.js -o build.js</code></pre>
</div>
