<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Browserify FTW</title>
    <meta name="author" content="Boris Okunskiy" />
    <link href="#{baseUrl}/css/index.css" rel="stylesheet" />
  </head>

  <body class="impress-not-supported">
    <div id="impress">
      <div class="step"
           data-x="0"
           data-y="0">
        <h1>
          8 причин, чтобы любить<br/>
          <strong>Browserify</strong>
        </h1>
      </div>
      <include file="01-locals/slides.html"/>
      <include file="02-exports/slides.html"/>
      <include file="03-require/slides.html"/>
      <include file="04-npm/slides.html"/>
      <include file="05-tools/slides.html"/>
      <include file="06-es6/slides.html"/>
      <include file="07-isomorph/slides.html"/>
      <include file="08-cool/slides.html"/>
      <div id="overview"
           class="step centered dim"
           data-x="1000"
           data-y="700"
           data-scale="3">
        <p>Спасибо!</p>
      </div>
    </div>
    <script src="#{baseUrl}/js/index.js"></script>
  </body>
</html>
