<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Browserify FTW</title>
    <meta name="author" content="Boris Okunskiy" />
    <link href="/css/index.css" rel="stylesheet" />
  </head>

  <body class="impress-not-supported">
    <div id="impress">
      <div class="step dim todo"
           data-x="0"
           data-y="0">
        <p>
          // TODO придумать крутое название,<br/>
          // как у Васи
        </p>
      </div>
      <div class="step"
           data-x="0"
           data-y="0">
        <h1>
          5 причин, чтобы любить<br/>
          <strong>Browserify</strong>
        </h1>
      </div>
      <include file="01-locals/slides.html"/>
      <include file="02-exports/slides.html"/>
      <include file="03-require/slides.html"/>
      <include file="04-npm/slides.html"/>
      <div id="overview"
           class="step"
           data-x="1000"
           data-y="600"
           data-scale="3">
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
