@import './hl.css';
h1 {
  font: 300 64px/1.5 Open Sans, sans-serif;
}
h2 {
  font: 300 48px/1.5 PT Sans, sans-serif;
}
pre {
  font-size: 24px;
}
pre.small {
  font-size: 16px;
}
.remark {
  color: #777;
  font-style: italic;
}
.asterisk {
  color: #c33;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 600px;
  background: #fff;
  color: #333;
  font: 400 32px/1.5 PT Sans, sans-serif;
}
.step {
  position: relative;
  margin: auto;
  width: 800px;
  opacity: 0.2;
  transition: opacity 1s;
}
.step.dim {
  opacity: 0;
}
.step.active {
  opacity: 1;
}
.todo {
  color: #33c;
}
img {
  max-width: 100%;
}
.middle * {
  vertical-align: middle;
}
.centered {
  text-align: center;
}
