@import './hl.css'
@import './typographics'

html, body 
  margin: 0
  
  padding: 0
  min-height: 600px

  background: #fff
  color: #333
  font: 400 32px/1.5 PT Sans, sans-serif

.step
  position: relative
  margin: auto

  width: 800px

  opacity: 0.2
  transition: opacity 1s

  &.dim
    opacity: 0

  &.active
    opacity: 1

.todo
  color: #33c

img
  max-width: 100%
