<div class="step"
     data-x="1200"
     data-y="-600"
     data-rotate="-180">
  <h2>#2 Понятный экспорт</h2>
  <p>Не нужно быть оракулом, чтобы видеть public API</p>
  <pre class="js"><code><include file="1-exports.js"/></code></pre>
</div>
<div class="step"
     data-x="1200"
     data-y="-1200"
     data-rotate="-180">
  <p>Забудь про
    <a href="https://github.com/umdjs/umd">UMD</a>
  </p>
  <pre class="js"><code><include file="2-umd.js"/></code></pre>
</div>
<div class="step dim"
     data-x="1200"
     data-y="-1200"
     data-rotate="-180">
  <img src="/img/wat.jpg"/>
</div>
