<div class="step"
     data-x="1000"
     data-y="0"
     data-rotate="0">
  <h2>#1 Локальные переменные</h2>
  <p>Прямо с первой строки, без отступов и оберток</p>
  <pre class="js"><code><include file="1-oneliner.js"/></code></pre>
</div>
<div class="step dim"
     data-x="1000"
     data-y="0"
     data-z="-1000"
     data-rotate="0">
  <p>И даже не начинай про обертки и
    <a href="http://en.wikipedia.org/wiki/Immediately-invoked_function_expression">IIFE</a>
  </p>
  <pre class="js"><code><include file="2-iife.js"/></code></pre>
</div>
