<div class="step"
     data-x="600"
     data-y="0"
     data-rotate="-90">
  <h2>#1 Локальные переменные</h2>
  <p>Прямо с первой строки, без отступов и оберток</p>
  <pre class="js"><code><include file="1-oneliner.js"/></code></pre>
</div>
<div class="step"
     data-x="1200"
     data-y="0"
     data-rotate="-90">
  <p>Забудь про
    <a href="http://en.wikipedia.org/wiki/Immediately-invoked_function_expression">IIFE</a>
  </p>
  <pre class="js"><code><include file="2-iife.js"/></code></pre>
</div>
