<div class="step"
     data-x="2000"
     data-y="1400"
     data-rotate="90">
  <h2>#4 npm</h2>
  <img src="#{baseUrl}/img/npm-i.jpg"/>
</div>
<div class="step dim"
     data-x="2000"
     data-y="1400"
     data-z="-1000"
     data-rotate="90">
  <p>В npm есть <em>вообще</em> всё.</p>
  <p>Умеешь определять пол по отчеству?</p>
  <pre class="js"><code><include file="1-petrovich.js"/></code></pre>
</div>
<div class="step dim"
     data-x="2000"
     data-y="1400"
     data-z="-2000"
     data-rotate="90">
  <p>Ах да, npm — самый огромный репозиторий в мире</p>
  <img src="#{baseUrl}/img/npm.png"/>
</div>
